<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Lotus Flower
Version    : 1.0
Released   : 20080501
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{=response.keywords}}" />
<meta name="description" content="{{=response.description}}" />
<title>{{=mystore.name}}</title>
<link href="{{=URL(r=request,c='static',f='default.css')}}" rel="stylesheet" type="text/css" />
{{include 'web2py_ajax.html'}}
</head>
<body>
<!-- start header -->
<div id="header">
     {{if response.menu:}}
	<div id="menu">
		<ul>
		  {{for _name,_active,_link in response.menu:}}
    <li><a href="{{=_link}}" {{if _active:}}class="current_page_item"{{pass}}>{{=_name}}</a></li>
    {{pass}}
		</ul>
	</div>
     {{pass}}
</div>
<div id="logo-wrap">
<div id="logo" style="background: url({{=URL(r=request,c='default',f='show',args=[mystore.logo])}}) no-repeat left top;">
	<h1><a href="#">{{=mystore.name}}</a></h1>
	<h2>{{=mystore.headline}}</h2>
</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
        {{if response.flash:}}
        <div id="flash">{{=response.flash}}</div>
        {{pass}}
        {{include}}
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<div id="footer-wrap">
	<p id="legal">{{=mystore.address}}</p>
	</div>
</div>
<!-- end footer -->
</body>
</html>
