
#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
    cursor:pointer;
}
#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}
#customWidget {
	position: relative;
	height: 36px;
}
