<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Rambling/style.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>
 </head>
 <body>
  <!-- start header -->
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <div id="wrap">
   <div id="topbar">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div id="header">
    <div id="menu">
     {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
    </div>
   </div>
   <div id="mainpage">
    <div id="content">
     <div class="flash">{{=response.flash or ''}}</div>
     {{include}}
    </div>
    <div id="sidebar">
     <div class="sidebartop">
      <h2>
       Categories
      </h2>
     </div>
     <div class="sidebarmain">
      <ul>
       <li>
        <a href="#">
         Web Design
        </a>
       </li>
       <li>
        <a href="#">
         Programming
        </a>
       </li>
       <li>
        <a href="#">
         Gadgets
        </a>
       </li>
       <li>
        <a href="#">
         Business
        </a>
       </li>
       <li>
        <a href="#">
         Entertainment
        </a>
       </li>
       <li>
        <a href="#">
         Personal
        </a>
       </li>
       <li>
        <a href="#">
         Free Downloads
        </a>
       </li>
      </ul>
      <h2>
       Recent Posts
       <span class="smalldesc">
        Dummy Links Not working
       </span>
      </h2>
      <ul>
       <li>
        <a href="#">
         Web Design
        </a>
       </li>
       <li>
        <a href="#">
         Programming
        </a>
       </li>
       <li>
        <a href="#">
         Gadgets
        </a>
       </li>
       <li>
        <a href="#">
         Business
        </a>
       </li>
       <li>
        <a href="#">
         Entertainment
        </a>
       </li>
       <li>
        <a href="#">
         Personal
        </a>
       </li>
       <li>
        <a href="#">
         Free Downloads
        </a>
       </li>
      </ul>
     </div>
     <p class="clear2">
      &nbsp;
     </p>
     <span class="sidebarbottom">
      &nbsp;
     </span>
    </div>
    <p class="clear">
    </p>
   </div>
  </div>
  <div id="footer">
   <div id="footercontent">
    <p>
     Your Site Name &copy; All rights reserved | Valid XHTML |
     <a href="#">
      Put
     </a>
     |
     <a href="#">
      Any
     </a>
     |
     <a href="#">
      Links
     </a>
     |
     <a href="#">
      Here
     </a>
    </p>
    <p class="smalldesc">
     <a href="http://www.ramblingsoul.com">
      CSS Layout
     </a>
     by Rambling Soul
    </p>
   </div>
  </div>
 </body>
</html>
