<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Unqualified
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20071220

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Unqualified/default.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>
 </head>
 <body>
  <!-- start header -->
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <!-- start header -->
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <p>
     <a href="http://www.freecsstemplates.org/">
      Design by Free CSS Templates
     </a>
    </p>
   </div>
   <div id="menu">
    {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
   <!-- start content -->
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <!-- end content -->
   <!-- start sidebar -->
   <div id="sidebar">
    <ul>
     <li>
      <h2>
       Categories
      </h2>
      <ul>
       <li>
        <a href="#">
         Aliquam libero
        </a>
       </li>
       <li>
        <a href="#">
         Consectetuer adipiscing elit
        </a>
       </li>
       <li>
        <a href="#">
         metus aliquam pellentesque
        </a>
       </li>
       <li>
        <a href="#">
         Suspendisse iaculis mauris
        </a>
       </li>
       <li>
        <a href="#">
         Urnanet non molestie semper
        </a>
       </li>
       <li>
        <a href="#">
         Proin gravida orci porttitor
        </a>
       </li>
      </ul>
     </li>
     <li>
      <h2>
       Archives
      </h2>
      <ul>
       <li>
        <a href="#">
         September
        </a>
        (23)
       </li>
       <li>
        <a href="#">
         August
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         July
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         June
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         May
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         April
        </a>
        (30)
       </li>
       <li>
        <a href="#">
         March
        </a>
        (31)
       </li>
       <li>
        <a href="#">
         February
        </a>
        (28)
       </li>
       <li>
        <a href="#">
         January
        </a>
        (31)
       </li>
      </ul>
     </li>
    </ul>
   </div>
   <!-- end sidebar -->
  </div>
  <!-- end page -->
  <div id="footer">
   <p>
    &copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
    &nbsp;&bull;&nbsp; Icons by
    <a href="http://www.famfamfam.com/">
     FAMFAMFAM
    </a>
    .
   </p>
  </div>
 </body>
</html>
