<html>
  <head>
  <meta http-equiv="refresh" content="6;url={{=URL(r=request,c='static',f='cssdesigner.html')}}" />
    <title>QrONE CSS Designer - CSS Style Editor</title>
    <style type="text/css">
       body { background: #ebebeb;
              font-size: 16px; 
              font-family: tahoma,helvetica,verdana;
              color: black; }
       a { text-decoration: underline; color: #555;}
       img { border:0;}
       
    </style>
  </head>
  <body>
    <p>You are loading the QrOne CSS Designer for Web2py v<b>{{=version}}</b> application...<br/>
    Having problems? Please use this <a href="{{=URL(r=request,c='static',f='cssdesigner.html')}}">direct link</a><br/></p>
    <div style="height:50px"></div>
    <center>
    <br/><br/><br/><br/>
    <h4>
    An web2py Application by Francisco Gama T. R. - <a href="mailto:blackthorne@ironik.org">blackthorne@ironik.org</a><br/><br/>
    Designed by J.Tabuchi - <a href="mailto:jun@jun.email.ne.jp">jun@jun.email.ne.jp</a> - <a href="http://www.qrone.org/">http://www.qrone.org/</a>
   </h4>
   <div style="position:absolute; right:20px; bottom:15px;"><a href="http://www.web2py.com"><img src="{{=URL(r=request,c='static',f='web2py_sticker_993d3d.png')}}"></a>
    </center>
  </body>
</html>
