{{left_sidebar_enabled,right_sidebar_enabled=False, False}}
{{extend 'layout.html'}}

{{=form.custom.begin}}
{{=form.custom.widget.image}}
{{=form.custom.submit}}
{{=INPUT(_type='hidden', value=session.dz_token, _name='_formkey')}} 
{{=form.custom.end}}

<br>
<br>
<div id="mydz" class="dropzone">

</div>

<script>
Dropzone.autoDiscover = false;
var myDropzone = new Dropzone("div#mydz", { 
    url: "{{=URL()}}",
    paramName:'image',
    uploadMultiple: false,
    headers: { 'x-dz-token': '{{=session.dz_token}}' },
    addRemoveLinks: true,
    accept: function(file, done) {
        done();
    },
    complete: function(file) {
        $(file.previewElement).find('.progress').fadeOut();
    },  
    success: function(file) {
        $.web2py.flash(file.name + ' ' + "{{=T('was accepted')}}");
    },
    removedfile: function(file) {
        if($(file.previewElement).hasClass('dz-error')) {
            /* There was an error submitting it, so we don't
               need to ask the server to delete it */
            $(file.previewElement).fadeOut(800, function(){
                $(file.previewElement).remove();    
            });
            return;            
        }
        $.ajax({
            type: 'POST',
            data: {},
            headers: { 'x-dz-token': '{{=session.dz_token}}' },
            data: { filename: file.name},
            url: '{{=URL(request.application, 'default', 'remove')}}',
            success: function(data) {
                $(file.previewElement).fadeOut(800, function(){
                    $(file.previewElement).remove();    
                });
            },
            error: function(data) {
                $.web2py.flash("{{=T('ERROR: could not delete file')}}");
            }
        });
        return true;
    },    
});

<!-- Add files already in the server -->
{{if files:}}
    var mockFile = null;

    {{for file in files:}}
        mockFile = { name: '{{=file.name.split('___')[-1]}}', size: '{{=file.fsize}}'};
        myDropzone.emit("addedfile", mockFile);
        myDropzone.emit("thumbnail", mockFile, "{{=URL('default', 'download', args=file.thumbnail)}}");
    {{pass}}

{{pass}}

</script>
