{{response.files.append(URL(r=request,c='static',f='ui.core.js'))}}
{{response.files.append(URL(r=request,c='static',f='ui.draggable.js'))}}
{{response.files.append(URL(r=request,c='static',f='ui.resizable.js'))}}
{{response.files.append(URL(r=request,c='static',f='fullcalendar.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='fullcalendar.css'))}}
{{extend 'layout.html'}}

{{if person:}}
<h1>Calendar about {{=link_person(person)}}</h1>
{{=button('talk list for '+person.name,'list_tasks',person.id)}}
{{else:}}
<h1>Full calendar</h1>
{{=button('full task list','list_tasks')}}
{{pass}}

<script type='text/javascript'>

    $(document).ready(function() {
    
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#calendar').fullCalendar({
            editable: false,
            events: [
            {{for task in tasks:}}
                {
                    title: '{{=task.title.replace("'","\\'")}}',
                    allDay: false,
                    start: new Date('{{=task.start_time.strftime('%B %d, %Y %H:%M:%S')}}'),
                    stop: new Date('{{=task.stop_time.strftime('%B %d, %Y %H:%M:%S')}}'),
                    url: '{{=URL('view_task',args=task.id)}}'                    
                },
            {{pass}}            
            ]
        });
        
    });
</script>
<div id='calendar'></div>
