{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
   {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
<h1>List Companies</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]
<div id="form">
<h2>New Company</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
    <tr>
      <th>Name</th><th>Actions</th>
    </tr>    
</thead>
<tbody>
{{for company in companies:}}
    <tr>
       <td>{{=link_company(company)}}</td>   
       <td>{{=button('contacts','list_persons',company.id)}}
       {{=button('edit','edit_company',company.id)}}</td>
    </tr>
{{pass}}
</tbody>
</table>
