{{extend 'layout.html'}}

<h2>Periodic Task Monitor</h2>

{{=A('intervals',_href=URL('manage_intervals'))}}
{{=A('crontab',_href=URL('manage_crontab'))}}
{{=A('new periodic task',_href=URL('edit_periodictask'))}}
    
{{=SQLTABLE(tasks,headers='fieldname:capitalize',
   columns=['celery_periodictask.id',
            'celery_periodictask.enabled',
            'celery_periodictask.name',
            'celery_periodictask.task',
            'celery_periodictask.last_run_at',
            'celery_periodictask.total_run_count'])}}
