<script language="javascript" src="/{{=request.application}}/static/textarea/shCore.js"></script>
<script language="javascript" src="/{{=request.application}}/static/textarea/shBrushPython.js"></script>
<script language="javascript" src="/{{=request.application}}/static/textarea/shBrushCss.js"></script>
<script language="javascript" src="/{{=request.application}}/static/textarea/shBrushXml.js"></script>
<script language="javascript" src="/{{=request.application}}/static/textarea/shBrushPasteIni.js"></script>
<script language="javascript">
<!--
window.onload=function() { dp.SyntaxHighlighter.HighlightAll('code'); }
//-->
</script>