<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Oxidation
Description: A two-column, fixed-width design for small websites and blogs.
Version    : 1.0
Released   : 20071229

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
    C.R.M.
  </title>
  {{response.files.append(URL(request.application,'static','Oxidation/style.css'))}}
{{include 'web2py_ajax.html'}}
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     C.R.M.
    </h1>
    <h2>
     powered by <a href="http://web2py.com">web2py</a>
    </h2>
   </div>
   <div id="search">
    <form id="searchform" method="get" action="">
     <fieldset>
       [
       {{if not auth.user:}}
       <a href="{{=URL('user/login')}}">login</a>
       {{else:}}
       {{=auth.user.first_name}} |
       <a href="{{=URL('user/logout')}}">logout</a> |
       <a href="{{=URL('user/change_password')}}">password</a> |
       <a href="{{=URL('user/profile')}}">profile</a>
       {{pass}} ]
      <input id="searchquery" type="text" size="25" name="s" value="" />
      <input id="searchsubmit" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  <!-- end #header -->
  <div id="menu">
   {{=MENU(response.menu)}}
  </div>
  <!-- end #menu -->
  <div id="page">
   <div id="content">
     <div id="main">
       <div class="flash">{{=response.flash or ''}}</div>
       {{include}}
     </div>
   </div>
   <!-- end content -->
   <div id="sidebar">
    <ul>
     <li>
       {{if auth.user:}}
      <h2>
	Recent Companies
      </h2>
      <ul>
	{{for id,name in session.recent_companies:}}
       <li>
        <a href="{{=URL('list_persons',args=id)}}">
          {{=name}}
        </a>
       </li>
       {{pass}}
      </ul>
     </li>
     <li>
      <h2>
	Recent Contacts
      </h2>
      <ul>
	{{for id,name in session.recent_persons:}}
       <li>
        <a href="{{=URL('view_person',args=id)}}">
          {{=name}}
        </a>
       </li>
       {{pass}}
      </ul>
     </li>
     <li>
       <h2>Tag Cloud</h2>
       {{=tag_cloud()}}
     </li>
     {{pass}}
    </ul>
   </div>
   <!-- end #sidebar -->
   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    &copy;2007 All Rights Reserved.
   </p>
   <p class="credit">
    Design by
    <a href="http://www.freecsstemplates.org/">
     Free CSS Templates
    </a>
   </p>
  </div>
 </body>
</html>
