{{extend 'layout.html'}}
{{ if len(request.args) > 0: }}
	<h1>{{=T('Edit page')}}</h1>
{{ else: }}
	<h1>{{=T('Add a new page')}}</h1>
{{ pass }}
<div>
	<ul class="nav nav-pills">
		<li id="simple_view" class="active">
			<a href="#">{{=T('Simplified view')}}</a>
		</li>
		<li id="advanced_view" >
			<a href="#">{{=T('Advanced view')}}</a>
		</li>
	</ul>
</div>
{{=form}}
{{ if len(request.args) > 0: }}
	<script type="text/javascript" src="{{=URL('static', 'nicEdit/nicEditComplete.js')}}"></script>
	<script>jQuery('#page_content').css('width','600px').css('height','50px');</script>
{{pass}}
<script>
	$(document).ready(function(){
		var wysiwygfield = new nicEditor({
			iconsPath :"{{=URL('static', 'nicEdit/nicEditorIcons.gif')}}",
			buttonList : ['bold','italic','underline','strikeThrough','left', 'center',
				'right', 'justify', 'ol', 'ul', 'fontSize', 'fontFormat', 'indent', 'outdent', 'link', 'upload'],
			uploadURI : "{{=URL('images', 'nicedit_image_upload', args=request.args(0))}}",
		})
		wysiwygfield.panelInstance("page_content");
		$('#wysiwyg_management').hide();
		{{for field in advanced_fields:}}
			$('#{{=field}}').hide();
		{{pass}}
		
		if (!$('#page_left_sidebar_enabled').attr('checked'))
			$('#page_left_sidebar_component__row').hide();
		if (!$('#page_right_sidebar_enabled').attr('checked'))
			$('#page_right_sidebar_component__row').hide();
		$('#page_left_sidebar_enabled').change(function(){
			if($('#page_left_sidebar_enabled').attr('checked'))
				$('#page_left_sidebar_component__row').show();
			else $('#page_left_sidebar_component__row').hide();});
		$('#page_right_sidebar_enabled').change(function(){
			if($('#page_right_sidebar_enabled').attr('checked'))
				$('#page_right_sidebar_component__row').show();
			else $('#page_right_sidebar_component__row').hide();});
		$('#simple_view').click(function(){
			$('#simple_view').attr('class','active');
			$('#advanced_view').attr('class','inactive');
			$('#wysiwyg_management').hide();
			{{for field in advanced_fields:}}
				$('#{{=field}}').hide();
			{{pass}}
			});
		$('#advanced_view').click(function(){
			$('#advanced_view').attr('class','active');
			$('#simple_view').attr('class','inactive');
			$('#wysiwyg_management').show();
			{{for field in advanced_fields:}}
				$('#{{=field}}').show();
			{{pass}}
			});
		$('#activate_wysiwyg').click(function(){
			$('#activate_wysiwyg').attr('class','active');
			$('#remove_wysiwyg').attr('class','inactive');
			wysiwygfield.panelInstance("page_content");});
		$('#remove_wysiwyg').click(function(){
			$('#activate_wysiwyg').attr('class','inactive');
			$('#remove_wysiwyg').attr('class','active');
			wysiwygfield.removeInstance("page_content");});
		$('input[type=submit]').click(function(){
			wysiwygfield.panelInstance("page_content");});
	});
</script>