{{extend 'layout.html'}}

<div class="ui-body ui-body-c ui-corner-all">
  <h1>{{=title}}</h1>
  <h2>on {{=updated}} by {{=author}}...</h2>
  <a  rel="external" data-inline="true" data-role="button" href={{=pdf}}>download pdf</a>
</div>

{{if False and auth.user:}}
<br/>
<div class="ui-body ui-body-c ui-corner-all">
  <table>
    <tr>
      <td>
	{{=plugin_wiki.widget('star_rating','paper',paper_id)}}
      </td>
      <td>
	{{=plugin_wiki.widget('tags','paper',paper_id)}}
      </td>
    </tr>
  </table>
</div>
{{pass}}
<br/>

{{if auth.user:}}
{{=plugin_wiki.widget('comments','paper',paper_id)}}
{{else:}}
<a data-inline="true" data-role="button" href="{{=URL('user/login')}}">login to read and add comments</a>
{{pass}}
