{{extend 'layout.html'}}
<style>
 #no_table_search { width: 600px }
</style>

<div class="ui-body ui-body-c ui-corner-all">
  <h1>{{=dict(CLASSIFICATION)[request.args(0)]}}</h1>
  {{=form.custom.begin}}
  <table>
    <tr>
      <td>{{=form.custom.widget.search}}</td>
      <td>{{=form.custom.submit}}</td>
    </tr>
  </table>
  {{=form.custom.end}}
</div>

<ul data-role="listview" data-inset="true">
  {{for e in entries:}}
  <li>
    <a href={{=URL('paper',vars=dict(id_list='/'.join(e['id'].rsplit('/')[-2:]),pdf=getpdf(e['links']),title=e['title'],updated=e['updated'][:10],author=e['author']))}}>
      <div style="font-size:1.0em; font-style:italic">
	{{=e['title']}}
      </div>	
      <div style="font-size:0.75em">
	on {{=e['updated'][:10]}} by {{=e['author']}}...
	{{=e.get('journal_ref','')}}
      </div>
    </a>
  </li>
  {{pass}}
</ul>
