{{extend 'layout.html'}}

<p>
<i>This is a sample web2py app using the new <a href="http://www.bing.com">Microsoft Bing Search Engine</a>
based on the <a href="http://uswaretech.com/blog/2009/06/bing-python-api/">Python API</a> developed by Lakshman. 
The original code has been slightly modified to be adapted to web2py libraries and made it work on the Google App Engine too.</i>
</p>

<p><i>
Download this web2py app here: <a href="{{=URL(r=request,c='static',f='web2py.app.bingapi.w2p')}}">DOWNLOAD</a>.
</i></p>

<h2>Search with Bing</h2>
{{=form}}

{{if items:}}
<h2>Results</h2>
{{for item in items:}}
<p>
<h2><a href="{{=item['Url']}}>{{=item['Title']}}</a></h2>
{{=item.get('Description','')}}
</p>
{{pass}}
{{else:}}
<h2>Example of code</h2>
{{=CODE("""
def index():
    form=FORM(INPUT(_name='q',requires=IS_NOT_EMPTY()),
              INPUT(_type='submit',_value='Search'))
    items=[]
    if form.accepts(request,session):
        bing = Bing(BING_APPID)
        res = bing.do_web_search(request.vars.q)
        items = res['SearchResponse']['Web']['Results']
    return dict(form=form,items=items)
""".strip(),language="web2py")}}
{{pass}}

