{{extend 'layout.html'}}

<h1>CSC438 Issue Tracker Project</h1>

<p>
Issue tracker is a web2py app for issue tracking.</p>

<p>
It is very similar to Google code and supports multiple proejcts.</p>

<p>
Users can login, register a project, rearch for projects, view open issues, search them bys status, submit issues and comment on existing issues.</p>

<p>
Project owners can assign issues and change the status (New, Accepted, Started, Fixed, Verified, Invalid, Duplicate, WontFix, Done). Issue support markmin wiki syntax (including code syntax highlighting) and can have attachments. Users can subscribe to email notifications for individual issues.</p>

