{{extend 'layout.html'}}

<a href="{{=URL('static','user_manual.pdf')}}"><img border="0" align="botton" hspace="3" vspace="3" src="{{=URL('static','icon.gif')}}" alt=""></a> User manual, click in the image.
<br><br>
Look for <img border="0" align="botton" hspace="3" vspace="3" src="{{=URL('static','tooltip.gif')}}" alt=""> to find information.
<br><br>
<h2>References</h2>

<ul>
<li><a href="{{=URL('static','user_manual.pdf')}}">User Manual</a></li>
<li><a href="http://www.orcaware.com/orca/">Orca</a></li>

<li><a href="http://www.freecsstemplates.org/preview/communication/">Css Style</a></li>

<li><a href="http://ukablog.codigoabierto.info/articulos/Demonizar%20un%20script%20en%20Python.html">Daemon</a></li>

<li><a href="http://www.mypocket-technologies.com/jquery/SelectBoxPlugin/">Some Jquery 1</a></li>

<li><a href="http://trentrichardson.com/Impromptu/index.php">Some Jquery 2</a></li>
</ul>


