<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Unnamed | Free CSS Template by Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrap">
<div id="topbar">
<h1>Rambling<span>Soul</span></h1>

</div>
<div id="header">
<div id="menu">
  <ul>
    <li><a href="index.html">Welcome Page</a></li>
    <li><a href="tables.html">example of tables</a></li>
    <li class="active"><a href="forms.html">Example of Forms</a></li>
    <li><a href="otherstuff.html">Other Stuff</a></li>

  </ul>
</div>
</div>
<div id="mainpage">
<div id="content">

<h1>Contact Form</h1>

<form action="#">
<div class="contactform">
<label for="Name">Name:</label>
<input class="textfield" name="Name" type="text" />
<div class="clear2"></div>
<label for="Email">Email:</label><input class="textfield" name="Email" type="text" />
<div class="clear2"></div>
<label for="Age">Age:</label>
<input class="textfield" name="Age" type="text" />
<div class="clear2"></div>

<label for="Comments">Comments/Questions:</label>
<textarea class="textfield" name="Comments" cols="30" rows="8"></textarea>

<div class="clear2"></div>
<label for="Submit"><span class="hide">Submit</span></label>
<input name="Submit" type="button" class="button" value="Submit" />
<div class="clear2"></div>
</div>
</form>
<p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
</div>


<div id="sidebar">
<div class="sidebartop">
<h2>Categories</h2>
</div>
<div class="sidebarmain"> 
  <ul>
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Programming</a></li>
    <li><a href="#">Gadgets</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Free Downloads</a></li>
  </ul>
  
 <h2>Recent Posts<span class="smalldesc">Dummy Links Not working</span></h2>
   <ul>
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Programming</a></li>
    <li><a href="#">Gadgets</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Free Downloads</a></li>
  </ul>
</div>
<p class="clear2">&nbsp;</p>
<span class="sidebarbottom">&nbsp;</span>
</div>

<p class="clear"></p>



</div>


</div>
<div id="footer">
<div id="footercontent">
<p>Your Site Name &copy; All rights reserved | Valid XHTML | <a href="#">Put</a> | <a href="#">Any</a> | <a href="#">Links </a>| <a href="#">Here </a></p>
<p class="smalldesc"><a href="http://www.ramblingsoul.com">CSS Layout</a> by Rambling Soul</p>
  </div>

</div>

</body>
</html>
