<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Unnamed | Free CSS Template by Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrap">
<div id="topbar">
<h1>Rambling<span>Soul</span></h1>

</div>
<div id="header">
<div id="menu">
  <ul>
    <li class="active"><a href="index.html">Welcome Page</a></li>
    <li><a href="tables.html">example of tables</a></li>
    <li><a href="forms.html">Example of Forms</a></li>
    <li><a href="otherstuff.html">Other Stuff</a></li>

  </ul>
</div>
</div>
<div id="mainpage">
<div id="content">
<div id="quicklinks">
<span class="qltop">&nbsp;</span>
<h2>Related Links</h2>
  <ul>
    <li><a href="http://www.ramblingsoul.com">Rambling Soul</a></li>
    <li><a href="http://opendesigns.org">Open Designs</a></li>
    <li><a href="http://cssfreebies.com">CSS Freebies</a></li>
    </ul>
<span class="qlbttm">&nbsp;</span>
</div>
<h1>Welcome</h1>
  <p> This template is inspired by a couple of other minimal templates you can find on The Open Design Community. Top menu is aligned to the right side of the header and you can use only four menu items there. I know it is a limitation, but I am assuming that it is enough for a simple personal website.</p>
  <p>I have also ported this template to Nano CMS by Kalyan Chakraborthi. Download them from my <a href="http://www.ramblingsoul.com">personal website</a>. You are free to modify anything on this design. If you are using it for a commerical purpose, please do not delete the credits link at the bottom of the page. Enjoy!</p>
<p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
<h2>Heading 2 - Unordered List</h2>
  <ul>
    <li>Sed fermentum nulla eu sem malesuada varius. </li>
    <li>Phasellus interdum  scelerisque arcu.</li>
    <li> Nulla accumsan diam in nisi. Sed urna. </li>
    <li>Sed consequat,  dolor a mollis pellentesque, tellus tortor semper lacus, vel nonummy  nulla risus eu dolor. </li></ul>
<p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
<h2>Heading 2 - Ordered List</h2>
    <ol>
    <li>Nullam sed ligula. Duis sed dolor. Sed eu lorem.  </li>
    <li>Integer hendrerit leo. Nulla facilisi. </li>
    <li>Proin condimentum placerat pede.  </li>
    <li>Quisque adipiscing tellus eget arcu. </li>
    <li>Nulla eu magna ac neque tincidunt  lacinia. </li>
    <li>Vestibulum gravida commodo quam. </li>
    <li>Morbi sollicitudin. Integer  lacinia metus sed neque. </li>
    <li>Proin vitae augue sed augue tempor  pellentesque. </li>
    <li>Praesent eu velit vel erat vehicula ultrices. </li>
  </ol>
  <p>Duis sed enim. Praesent pretium elit a lorem. Ut condimentum  accumsan enim. Lorem ipsum dolor sit amet, consectetuer adipiscing  elit. Sed lobortis varius turpis. Donec cursus. Pellentesque aliquam  facilisis est. Sed facilisis, odio vestibulum feugiat fermentum, lorem  nisi fermentum ligula, in fermentum metus tortor eu pede. Suspendisse  potenti. </p>
 <p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
<h3>Heading 3 - Blockquote &amp; Image</h3>
  <p>Etiam semper tempor risus. Nunc fermentum neque quis erat  vehicula elementum. Aliquam egestas lectus ac magna accumsan varius.  Phasellus tempor euismod libero. Nunc ultrices, ante non condimentum  rutrum, sapien nulla commodo neque, auctor blandit lacus mi at lacus.  Donec et turpis vulputate mi consectetuer pellentesque. Mauris in  risus. </p>
  <blockquote>
  <p>Nullam mattis dignissim urna. Nunc congue, augue nec ornare  ultrices, ante dui aliquet odio, malesuada porttitor dui dui ac leo. </p></blockquote>
  <p>Ut nonummy. Donec auctor. Nunc non arcu. Ut lectus. Etiam tellus  enim, vulputate egestas, iaculis sed, vestibulum eu, enim. Vivamus  tellus erat, placerat a, ultricies vel, rhoncus sed, mi. </p>
  <p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
 <h4>Heading 4 - Code </h4>
 <code>a:hover {
	color: #999999;
	text-decoration: none;
}</code>
<code>
a:hover {
	color: #999999;
	text-decoration: none;
}</code>
<p>Etiam rutrum,  arcu quis dictum sodales, massa ligula scelerisque purus, nec ornare  massa odio imperdiet massa. Integer bibendum massa sit amet velit  bibendum cursus. Mauris mauris velit, nonummy vitae, vehicula sit amet,  sagittis rhoncus, dui. Morbi vitae tellus et nulla molestie feugiat.  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Morbi nisl sem, vulputate sit amet, convallis  eget, scelerisque id, felis. Duis mattis velit et neque. </p>

<p class="postinfo"> Post Info -  <a href="#">Category</a> | <a href="#">0 Comments</a></p>
</div>


<div id="sidebar">
<div class="sidebartop">
<h2>Categories</h2>
</div>
<div class="sidebarmain"> 
  <ul>
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Programming</a></li>
    <li><a href="#">Gadgets</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Free Downloads</a></li>
  </ul>
  
 <h2>Recent Posts<span class="smalldesc">Dummy Links Not working</span></h2>
   <ul>
    <li><a href="#">Web Design</a></li>
    <li><a href="#">Programming</a></li>
    <li><a href="#">Gadgets</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Personal</a></li>
    <li><a href="#">Free Downloads</a></li>
  </ul>
</div>
<p class="clear2">&nbsp;</p>
<span class="sidebarbottom">&nbsp;</span>
</div>

<p class="clear"></p>



</div>


</div>
<div id="footer">
<div id="footercontent">
<p>Your Site Name &copy; All rights reserved | Valid XHTML | <a href="#">Put</a> | <a href="#">Any</a> | <a href="#">Links </a>| <a href="#">Here </a></p>
<p class="smalldesc"><a href="http://www.ramblingsoul.com">CSS Layout</a> by Rambling Soul</p>
  </div>

</div>

</body>
</html>
