<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{{=XML(T('pyForum - Python-Based Message Board System - Powered by web2py'))}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="julio Flores Schwarzbeck (Speedbird)" />
        <meta name="keywords" content="python web2py forum pyforum message board" />
        <meta name="description" content="pyForum is a Python-Based Message Board System - Powered by web2py" />
        <link rel="shortcut icon" href="{{=URL(r=request,c='static/images',f='favicon.ico')}}" />
        <link rel="stylesheet" href="{{=URL(r=request,c='static',f='stylesheet.css')}}" type="text/css" title="pyForum CSS" media="screen" />

        <script type="text/javascript">
        <!--
            function popup(url, width, height) {
                winWidth  = Number(width) + 15;
                winHeight = Number(height) + 20;
                tmpLeft   = ((screen.availWidth - winWidth) * .5);
                tmpTop    = ((screen.availHeight - winHeight) * .5);
                tmpProps  = 'menubar=0,location=0,toolbar=0,left=';
                tmpProps  += tmpLeft + ',top=' + tmpTop;
                tmpProps  += ',width='+winWidth+',height='+winHeight+',scrollbars=0';
                window.open(url, 'pyforum_pop',tmpProps);
            }
        //-->
        </script>

    </head>
    <body>

        <div class="pyforum-container">

            <table cellspacing="0" cellpadding="0" class="work-area-content">
                <tbody>
                    <tr>
                        <td class="max-width">
                            <div class="zf-header">
                                <table cellspacing="0" cellpadding="0" class="max-width">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;&nbsp;
                                                <a href="{{=URL(r=request,c='default',f='index')}}"
                                                   title="{{=T('Forum Home')}}"
                                                   class="nolink"><img src="{{=URL(r=request, c='static/images', f='pyforum_logo.png')}}"
                                                   alt="{{=T('Forum Home')}}" style="border:0;vertical-align:middle;" /></a>
                                            </td>
                                            <td style="text-align:right;">
                                                <div style="margin-right:10px;">
                                                    {{=XML(forumhelper.get_system_property('zfsp_header_html', 'Welcome to pyForum'))}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         </td>
                    </tr>
                    <tr>
                        <td class="max-width">
                            <table cellpadding="0" cellspacing="0" class="max-width">
                                <tbody>
                                    <tr>                
                                        <td class="zf-content-left">
                                            <div class="content-left">
                                                {{ include }}
                                            </div>
                                        </td>
                                        <td class="zf-content-right">
                                            <div class="content-right">
                                                {{include 'pyforum_sidenav.html'}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="max-width">
                            <div class="zf-footer">
                                <span class="small">pyForum version {{=pyforum_info['Program Version']}} {{if pyforum_info['is_beta']:}}<span class="warning">[BETA]</span>{{pass}} |
                                <a href="http://validator.w3.org/check/referer"
                                   onclick="window.open(this.href); return false;"
                                   class="small-link"
                                   title="{{=XML(T('Web Standards Complaince (New Window)'))}}">XHTML 1.1</a> |
                                <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.pyforum.org{{=URL(r=request, c='static', f='stylesheet.css')}}"
                                   onclick="window.open(this.href); return false;"
                                   class="small-link"
                                   title="{{=XML(T('Web Standards Complaince (New Window)'))}}">CSS 2.1</a> |
                                <span class="small">{{=XML(T('Mobile'))}}</span> |
                                Powered by web2py</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>    
