<!-- **********NEW FILE*********** 
     This page is new to pyforum.
     ***************************** -->

{{extend 'zlayout.html'}}
<!-- Title information and indicators the page has been updated -->
<h2 class="fancy">{{=XML(T('View Profile'))}}</h2>

<!-- Updating user information -->
<form method="post" id="my_profile" action="" enctype="multipart/form-data">
        <input type="hidden" id="form_details_submitted" name="form_details_submitted" value="1" />
        <input type="hidden" id="user_id" name="user_id" value="{{=user_id}}" />

        <table cellspacing="2" cellpadding="2">
            <tbody>
                {{if auth_user.is_auth():}}
                    <tr>
                        <td colspan="2" class="cell3d center-xy"><a href="{{=URL(r=request, c='pm', f='message_new', args=[user_id])}}" title="">{{=XML(T('Send private message to user'))}}</td>
                    </tr>
                    {{if not forumhelper.get_friend_status(auth_user.get_user_id(), user_id):}}
                    <tr>
                        <td colspan="2" class="cell3d center-xy"><a href="{{=URL(r=request, c='default', f='edit_profile', args=['add_friend', user_id])}}" title="">{{=XML(T('Add to friendslist'))}}</td>
                    </tr>
                    {{else:}}
                    <tr>
                        <td colspan="2" class="cell3d center-xy"><a href="{{=URL(r=request, c='default', f='edit_profile', args=['remove_friend', user_id])}}" title="">{{=XML(T('Remove from friendslist'))}}</td>
                    </tr>
                    {{pass}}
                {{pass}}
                <tr>
                    <td>{{=XML(T('Username'))}}:</td>
                    <td>{{=forumhelper.get_member_property('zfmp_display_name', user_id, 'user_%s' % (user_id))}}</td>
                </tr>
                {{if not view_info['props']['real_name_hidden'] or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                <tr>
                    <td>{{=XML(T('Real Name'))}}:</td>
                    <td>{{=request.vars.get('real_name', view_info['props']['real_name'])}}</td>
                </tr>
                {{pass}}
                {{if not view_info['props']['web_page_hidden'] or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                <tr>                
                    <td>{{=XML(T('Web Page'))}}:</td>
                    <td>{{=request.vars.get('web_page', view_info['props']['web_page'])}}</td>
                </tr>
                {{pass}}
                {{if not view_info['props']['country_hidden'] or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                <tr>            
                    <td>{{=XML(T('City/Country'))}}:</td>
                    <td>{{=request.vars.get('country', view_info['props']['country'])}}</td>
                </tr>
                {{pass}}
                {{if not view_info['props']['user_info_hidden'] or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                <tr>               
                    <td>{{=XML(T('User Info'))}}:</td>
                    <td>{{=request.vars.get('user_info', view_info['props']['user_info'])}}</td>
                </tr>     
                {{pass}}     
                {{if not view_info['props']['signature_hidden'] or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}      
                <tr>               
                    <td>{{=XML(T('Signature'))}}:</td>
                    <td>{{=request.vars.get('signature', view_info['props']['signature'])}}</td>
                </tr>
                {{pass}}
                {{if forumhelper.has_member_avatar(user_id):}}
                <tr>
                    <td></td>
                    <td>{{=XML(T('Avatar'))}}:</td>
                    <td>
                        <img src="{{=URL(r=request, c='zadmin', f='get_avatar_image', args=[user_id])}}" alt="" />
                    </td>
                </tr>
                {{pass}}
            </tbody>
        </table>


<!-- Updating profile threads and bookmarked threads -->
<h2 class="fancy">{{=XML(T('Topics'))}}</h2>
<br />
<div class="subnav">
    {{=len(my_threads)+len(my_ref_threads)}} {{=XML(T('Topic(s) Found'))}}
    <!-- <span class="sep">|</span>
    <a href="{{=URL(r=request, c='default', f='add_profile_topic')}}" title="{{=XML(T('Add New Topic'))}}">{{=XML(T('Add New Topic'))}}</a> -->
</div>

<div>{{=XML(view_info['pagination_widget_1'])}}</div>
    {{if my_threads:}}
        <!-- Display profile threads -->
        <input type="hidden" id="form_submitted" name="form_submitted" value="1" />

        <table cellspacing="0" cellpadding="0" class="zf-table" class="max-width" style="width:100%;">
            <thead>
                <tr class="shadedarker">
                    <th class="cell3d" style="text-align:left;">{{=XML(T('My Topics'))}}</th>
                    <th class="cell3d">{{=XML(T('By'))}}</th>
                    <th class="cell3d" style="width:5%;max-width:5%">{{=XML(T('Replies'))}}</th>
                    <th class="cell3d" style="width:5%;max-width:5%">{{=XML(T('Views'))}}</th>
                    <th class="cell3d" style="width:20%;max-width:20%;white-space:nowrap;">{{=XML(T('Last Updated'))}}</th>
                    {{if auth_user.is_auth() and user_id != auth_user.get_user_id():}}
                        <th class="cell3d" style="width:10%;max-width:10%;white-space:nowrap;">{{=XML(T('Add To Profile'))}}</th>
                    {{pass}}
                </tr>
            </thead>
            <tbody>
                {{for row, this_topic in enumerate(my_threads):}}
                    {{if not this_topic.profile_hidden or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                    <tr class="{{if row%2:}}shadedark{{else:}}shadelight{{pass}}">
                        <td class="cell3d">
                            <a href="{{=URL(r=request, c='default', f='view_topic', args=[this_topic.id])}}" title="" class="linkb">{{=XML(parse_content(this_topic.title))}}</a>
                            {{if view_info['zfsp_topic_teaser_length']:}}
                                <br /><span class="small">{{=parse_content(this_topic.content[:view_info['zfsp_topic_teaser_length']], mode='forumpreview')}} ..</span>
                            {{pass}}
                        </td>
                        <td class="cell3d center-xy">{{if this_topic.creation_user_id:}}<a href="{{=URL(r=request, c='pm', f='message_new', args=[this_topic.creation_user_id])}}" title="">{{=forumhelper.get_display_name(this_topic.creation_user_id, 'Anonymous User')}}</a>{{else:}}Anonymous User{{pass}}</td>
                        <td class="cell3d center-xy">{{=topic_1_replies_info[this_topic.id]}}</td>
                        <td class="cell3d center-xy">{{=this_topic.hits}}</td>
                        <td class="cell3d center-xy">
                            <div class="{{if (request.now - this_topic.modifying_date).days == 0:}}important{{else:}}small{{pass}}">
                                <span class="small">
                                    {{=this_topic.modifying_date.strftime(str(T('%b %d, %Y - %I:%M %p')))}}
                                </span>
                                <br /><span class="small">{{=XML(T('By'))}}</span>
                                {{if not this_topic.modifying_user_id:}}
                                    <b class="small">{{=XML(T('Anonymous User'))}}</b>
                                {{else:}}
                                    {{if auth_user.is_auth():}}
                                        <a href="{{=URL(r=request, c='pm', f='message_new', args=[this_topic.modifying_user_id])}}"
                                           title=""
                                           class="{{if (request.now - this_topic.modifying_date).days == 0:}}smallb-new{{else:}}smallb{{pass}}">{{=forumhelper.get_member_property('zfmp_display_name', this_topic.modifying_user_id, 'user_%s' % (this_topic.modifying_user_id))}}</a>
                                    {{else:}}
                                        <b class="small">{{=forumhelper.get_member_property('zfmp_display_name', this_topic.modifying_user_id, 'user_%s' % (this_topic.modifying_user_id))}}</b>
                                    {{pass}}
                                {{pass}}
                            </div>
                        </td>
                        {{if auth_user.is_auth():}}
                        <td class="cell3d center-xy">
                                 <a href="{{=URL(r=request, c='default', f='edit_profile', args=['add_ref', this_topic.id])}}" title="" class="linkb">{{=XML(T('Add'))}}</a>
                        </td>
                        {{pass}}
                    </tr>
                    {{pass}}
                {{pass}}
            </tbody>
        </table>      
    {{else:}}
        <p class="warning">{{=XML(T('No profile topics found in this forum'))}}.</p>    
    {{pass}}     
    <br />   
    <hr />
    <br />
    <div>{{=XML(view_info['pagination_widget_2'])}}</div>
    {{if my_ref_threads:}}         
            <!-- Display bookmarked threads -->
            <table cellspacing="0" cellpadding="0" class="zf-table" class="max-width" style="width:100%;">
                <thead>
                    <tr class="shadedarker">
                        <th class="cell3d" style="text-align:left;">{{=XML(T('Bookmarked Topics'))}}</th>
                        <th class="cell3d">{{=XML(T('By'))}}</th>
                        <th class="cell3d" style="width:5%;max-width:5%">{{=XML(T('Replies'))}}</th>
                        <th class="cell3d" style="width:5%;max-width:5%">{{=XML(T('Views'))}}</th>
                        <th class="cell3d" style="width:20%;max-width:20%;white-space:nowrap;">{{=XML(T('Last Updated'))}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{for row, this_topic in enumerate(my_ref_threads):}}
                        {{if not this_topic.zf_referenced_topic.profile_hidden or auth_user.is_admin() or (auth_user.is_auth() and forumhelper.get_friend_status(user_id, auth_user.get_user_id())):}}
                        <tr class="{{if row%2:}}shadedark{{else:}}shadelight{{pass}}">
                            <td class="cell3d">
                                <a href="{{=URL(r=request, c='default', f='view_topic', args=[this_topic.zf_topic.id])}}" title="" class="linkb">{{=XML(parse_content(this_topic.zf_topic.title))}}</a>
                                {{if view_info['zfsp_topic_teaser_length']:}}
                                    <br /><span class="small">{{=parse_content(this_topic.zf_topic.content[:view_info['zfsp_topic_teaser_length']], mode='forumpreview')}} ..</span>
                                {{pass}}
                            </td>
                            <td class="cell3d center-xy">{{if this_topic.zf_topic.creation_user_id:}}<a href="{{=URL(r=request, c='pm', f='message_new', args=[this_topic.zf_topic.creation_user_id])}}" title="">{{=forumhelper.get_display_name(this_topic.zf_topic.creation_user_id, 'Anonymous User')}}</a>{{else:}}Anonymous User{{pass}}</td>
                            <td class="cell3d center-xy">{{=topic_2_replies_info[this_topic.zf_topic.id]}}</td>
                            <td class="cell3d center-xy">{{=this_topic.zf_topic.hits}}</td>
                            <td class="cell3d center-xy">
                                <div class="{{if (request.now - this_topic.zf_topic.modifying_date).days == 0:}}important{{else:}}small{{pass}}">
                                    <span class="small">
                                        {{=this_topic.zf_topic.modifying_date.strftime(str(T('%b %d, %Y - %I:%M %p')))}}
                                    </span>
                                    <br /><span class="small">{{=XML(T('By'))}}</span>
                                    {{if not this_topic.zf_topic.modifying_user_id:}}
                                        <b class="small">{{=XML(T('Anonymous User'))}}</b>
                                    {{else:}}
                                        {{if auth_user.is_auth():}}
                                            <a href="{{=URL(r=request, c='pm', f='message_new', args=[this_topic.zf_topic.modifying_user_id])}}"
                                               title=""
                                               class="{{if (request.now - this_topic.zf_topic.modifying_date).days == 0:}}smallb-new{{else:}}smallb{{pass}}">{{=forumhelper.get_member_property('zfmp_display_name', this_topic.zf_topic.modifying_user_id, 'user_%s' % (this_topic.zf_topic.modifying_user_id))}}</a>
                                        {{else:}}
                                            <b class="small">{{=forumhelper.get_member_property('zfmp_display_name', this_topic.zf_topic.modifying_user_id, 'user_%s' % (this_topic.zf_topic.modifying_user_id))}}</b>
                                        {{pass}}
                                    {{pass}}
                                </div>
                            </td>
                        </tr>
                        {{pass}}
                    {{pass}}
                </tbody>
            </table>
{{else:}}
    <p class="warning">{{=XML(T('No bookmarked topics found in this forum'))}}.</p>
{{pass}}
</form>
