{{extend 'layout.html'}}

{{=DIV(menu)}}

{{=DIV(H1(title))}}

{{for i, row in enumerate(rows):}}
    {{if i == items_per_page: break}}
    
    {{=DIV(A(row.title, 
             _href = URL(show_link, 
                         args = row.id), 
           _title = row.title))}}
    {{=DIV(row.content)}}
    {{=DIV(db.blog_category[row.category_id].category)}}
    {{=BR()}}
{{pass}}

{{if page:}}
    {{=A(T('Previous'), 
         _href = URL(args = [page - 1]), 
         _title = T('Previous'))}}
{{pass}}

{{if len(rows) > items_per_page:}}
    {{=A(T('Next'), 
         _href = URL(args = [page + 1]), 
         _title = T('Next'))}}
{{pass}}
