{{extend 'layout.html'}}

{{=DIV(menu)}}

<form>
    <input type="hidden" id="id" name="id" value="" />
</form>

{{=DIV(H1(page.title))}}
{{=DIV(page.content)}}
{{=DIV(db.news_category[page.category_id].category)}}
    
{{=SPAN(page.like, 
        _id = 'news_like_%s' % page.id)}}
{{=SPAN(T('People Like This'))}}
    
<span onclick="jQuery('#id').val('{{=page.id}}');
               ajax('{{=URL('news_like.load')}}', ['id'], 'news_like_{{=page.id}}');">
{{=A(T('Like'), 
     _href = '#')}}
</span>

{{=LOAD('default', 
        'news_comment_show.load', 
        args = page.id, 
        ajax = True)}}

{{=LOAD('default', 
        'news_comment_add.load', 
        args = page.id, 
        ajax = True)}}
