<style type="text/css">
<!--
.thumbnail 
{
    float           : left;
    width           : 110px;
    height          : 110px;
    margin          : 5px;
}
-->
</style>

{{extend 'layout.html'}}

{{=DIV(menu)}}

{{=DIV(H1(title))}}

{{for i, row in enumerate(rows):}}
    {{if i == items_per_page: break}}

    {{=DIV(A(IMG(_src = URL('download', 
                            args = row.photo), 
                _class='thumbnail', 
                _alt = row.caption), 
             _href = URL(show_link, 
                         args = row.id), 
             _title = row.caption))}}
{{pass}}

{{if page:}}
    {{=A(T('Previous'), 
         _href = URL(args = [page - 1]), 
         _title = T('Previous'))}}
{{pass}}

{{if len(rows) > items_per_page:}}
    {{=A(T('Next'), 
         _href = URL(args = [page + 1]), 
         _title = T('Next'))}}
{{pass}}
