{{extend 'layout.html'}}
{{extend 'layout.html'}}
<html>
<head>
</head>
<body>

<h1> Movies2 Rules </h1></br>
1. No Profanity in the descriptions.</br>
2. No racial slurs with in the descriptions or comments of reviews.</br>
3. Be respectful when giving your opinion.</br>
Viloation of these rules can lead to removal of membership status and a permanent ban.</br>

</br>
<a href="{{=URL("movies")}}">Movies</a></br>
<a href="{{=URL("start")}}">Start</a></br>
<a href="{{=URL("newmovies")}}">New Movie</a></br>
<a href="{{=URL("userlogin")}}">Login</a></br>




</body>
</html>
