{{extend 'layout.html'}}

<h1>Answers from {{=sa.created_ip}}</h1>

<p>{{if sa.completed:}}completed on {{=sa.modified_on}}
   {{else:}}incomplete, last accessed on {{=sa.modified_on}}{{pass}}</p>

{{for q,a,c in answers:}}
<h2>{{=q.title}}</h2>
{{if q.type=='long text':}}{{=XML(a)}}
{{elif q.type=='long text verbatim':}}<pre>{{=XML(a)}}</pre>
{{elif q.type=='multiple exclusive' and str(a):}}{{=chr(ord('A')+int(a))}}
{{elif q.type=='multiple not exclusive' and a and a[0]:}}
{{for i in a:}}{{=chr(ord('A')+int(i))}} {{pass}}
{{else:}}{{=a}}
{{pass}}
{{if c:}}
<p>Comments: <i>{{=c}}</i></p>
{{pass}}
{{pass}}
