{{extend 'layout.html'}}

<h1>Welcome</h1>

<h2>This site is currently under testing</h2>
<p>
This is your one place for free online surveys. To start a new survey simply fill the form below and you will receive an email with instructions. Make sure you choose an apropriate title since it cannot be changed without creating a new survey.
</p>
<p>
Once created a survey will stay in our system for one month and then it will be discarded.
</p>
<p>
This site is only a demo. Please <a href="mailto:mdipierro@cs.depaul.edu">contact me</a> if you are planning to use it. Becase it is a demo we do not guarantee the integrity of the data.
</p>
<h2>Start here to create a new Survey</h2>
{{=form}}
