{{extend 'layout.html'}}

<h1>Groups</h1>

<img src="{{=URL(r=request,c='static',f='group/group.png')}}" align="right"/>

<h2>You are member of the following groups</h2>
[<a href="{{=URL('create_group')}}">create group</a>]
<br/>
{{if len(mygroups):}}
<table>
{{for a in mygroups:}}
<tr>
<td>[G{{=a.persons_group.id}}]</td><td><a onclick="$('#a{{=a.persons_group.id}}').slideToggle();">{{=a.persons_group.name}}</a> managed by <a href="mailto:{{=a.auth_user.email}}">{{=a.auth_user.name}}</a> on {{=a.persons_group.created_on}}
{{if a.persons_group.owner!=auth.user_id:}}
[{{=A('X',_href=URL('unjoin',args=str(a.persons_group.id)))}}]
{{pass}}
<br/>
<div id="a{{=a.persons_group.id}}" class="box">
{{=XML(a.persons_group.description)}}
<br/>
{{if a.persons_group.owner==auth.user_id:}}
[<a href="{{=URL(r=request,c='access',f='change',args=['persons_group',a.persons_group.id],vars=dict(forward=URL(r=request)))}}">change permissions</a>][<a href="{{=URL('members',args=[a.persons_group.id])}}">members</a>][<a href="{{=URL('approve',args=[a.persons_group.id])}}">pending members</a>][<a href="{{=URL('edit_group',args=[a.persons_group.id])}}">edit</a>]
{{pass}}
</div>
<script><!--
$('#a{{=a.persons_group.id}}').hide();
//--></script>
</td></tr>
{{pass}}
</table>
{{else:}}
no groups yet
{{pass}}
<br/>
<h2>Join a group</h2>
Group id (for example G1): {{=form}}

