{{extend 'layout.html'}}
{{ if len(request.args) > 0: }}
	<h1>{{=T('Edit image gallery')}}</h1>
{{ else: }}
	<h1>{{=T('Add image in the Gallery')}}</h1>
{{ pass }}
<!-- TODO ...
<div>
	<ul class="nav nav-pills">
		<li id="simple_view" class="active">
			<a href="#">{{=T('Simplified view')}}</a>
		</li>
		<li id="advanced_view" >
			<a href="#">{{=T('Advanced view')}}</a>
		</li>
	</ul>
</div>
-->
{{=form}}
<div>
	<img src="{{=URL('static','images/photo_gallery/thumbs/%s' %(thumb))}}">
</div>
<script>
	$(document).ready(function(){
		$('#image_show_in_gallery__row').hide();
		$('#image_show_in_banner__row').hide();
		$('#simple_view').click(function(){
			$('#simple_view').attr('class','active');
			$('#advanced_view').attr('class','inactive');
			$('#image_show_in_gallery__row').hide();
			$('#image_show_in_banner__row').hide();});
		$('#advanced_view').click(function(){
			$('#advanced_view').attr('class','active');
			$('#simple_view').attr('class','inactive');
			$('#image_show_in_gallery__row').show();
			$('#image_show_in_banner__row').show();});
	});
</script>