{{extend 'layout.html'}}

<h3>
	{{ =T('Photo gallery') }}
	{{if auth.has_membership('manager'):}}
		{{=manager_toolbar()}}
	{{ pass }}
</h3>

{{prev_page=-1}}
{{for image in images:}}
		{{if image.page != prev_page:}}
			{{if prev_page <> -1:}}
				</div>
			{{pass}}
			<div class="span10 image-box">
			{{if image.page:}}
				<h3>{{=image.page.title}}</h3>
			{{else:}}
				<h3>{{=T('Miscellaneous')}}</h3>
			{{pass}}	
		{{pass}}
			<div class="span3">
				<div class="modal hide" id="{{='image_'+str(image.id)}}">
					<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
						<h2>{{=image.name}}</h2>
						<p>
							<h5>{{=image.comment}}</h5>
						</p>
					</div>
						<div class="modal-body">
							<img src="{{=URL('static','images/photo_gallery/%s' %(image.file))}}">
					</div>
					<div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Fermer</a> </div>
				</div>
				<div >
					<p>
						{{if auth.has_membership('manager'):}}
							{{=manager_toolbar(image.id)}}
						{{ pass }}
						<h4>{{=image.name}}</h4>
						<a data-toggle="modal" href="#{{='image_'+str(image.id)}}">
							<img src="{{=URL('static','images/photo_gallery/thumbs/%s' %(image.thumb))}}">
						</a>
					</p>
				</div>
			</div>
	{{prev_page = image.page}}
{{pass}}
{{if images:}}
	</div>
{{pass}}
