body, html {
    background: #193445 url('../images/bgrays.png') repeat-x top;
    font-family: Arial, Helvetica, "Liberation Sans", Sans, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

#container {
    padding-top: 1em;
}

#header h1 {
    width: 530px;
    height: 81px;
    background: #fff;
    border-top-right-radius: 1.2em;
    -moz-border-radius-topright: 1.2em;
    border-bottom-left-radius: 1.2em;
    -moz-border-radius-bottomleft: 1.2em;
    font-size: 170%;
}

.cufon {
    position: relative;
    top: -27px;
}

#wrapper {
    background: #eee url('../images/bg.png') repeat-x top;
    border-top-right-radius: 1.2em;
    -moz-border-radius-topright: 1.2em;
    border-bottom-left-radius: 1.2em;
    -moz-border-radius-bottomleft: 1.2em;
    padding: 1em;
}

#statusbar {
    border: none;
    background: transparent;
    margin-top: 1em;
    margin-bottom: 1em;
}

#statusbar li,
#statusbar li:hover,
#statusbar li a,
#statusbar li a:hover {
    background: #fff;
    color: #333;
    font-size: 100%;
    border: none;
    margin-right: 0.2em;
    margin-left: 0.2em;
    border-top-right-radius: 0.6em;
    -moz-border-radius-topright: 0.6em;
    border-bottom-left-radius: 0.6em;
    -moz-border-radius-bottomleft: 0.6em;
}

#statusbar li:hover,
#statusbar li a:hover {
    background: #193445;
    color: #fff;
}

#statusbar li a:hover {
    border: none;
}

#content #files a,
#content a.button {
    border: 1px solid #aaa;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    display: inline-block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background: #ddd;
}

#content #files a {
    padding: 0.2em 1em;
    text-decoration: none;
    color: #193445;
}

#content table.nothing .options {
    background: transparent;
    width: 300px;
}

#content #files a:hover,
#content a.button:hover {
    background: #193445;
    color: #eee;
    border-color: #193445;
}

#content #files {
    border: none;
    border-right: 4px solid #193445;
    border-bottom: 4px solid #193445;
    background: #A2B2BC;
    color: #eee;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    width: 480px;
    padding: 1em;
}

#content h1 {
    padding-bottom: 3px;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 150%;
}

#content table.nothing {
    background: transparent;
}

#content h2 {
    font-size: 120%;
    margin-top: 2em;
    margin-bottom: 1em;
}

#footer {
    border: none;
    background: transparent;
    text-align: right;
}
