__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
cache/*
databases/*
errors/*
sessions/*
uploads/*
whoosh/*
*.bak
.pythonhistory
.project
.pydevproject
.settings
*.pkl
enews.nja
